@import '../colors.scss';

.brew {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        font-size: 2.75rem;
        text-transform: uppercase;
    }

    .text {
        display: inline-flex;
        justify-content: space-between;
        align-items: baseline;
        width: 9.5rem;
        margin-bottom: 1rem;
        label {
            border-bottom: solid 2px transparent;
        }
    }
    .count {
        display: inline-block;
        margin-left: .15ch;
        font-size: 5rem;
        color: $text-active;
        position: relative;

        &.number-1 {
            margin-right: .25ch;
            position: relative;
            top: 2px;
        }
    }
}

.selected {
    .text label {
       border-color: $action-active;
    }
}