@import '../colors.scss';

.brew {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        font-size: 2.75rem;
        text-transform: uppercase;
    }

    .text {
        display: inline-flex;
        justify-content: space-between;
        align-items: baseline;
        width: 9.5rem;
    }
    .count {
        display: inline-block;
        margin-left: .15ch;
        font-size: 5rem;
        color: $text-active;

        &.number-1 {
            margin-right: .15ch;
        }
    }
}