.history {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-areas:
        'notch'
        'controls'
        'gap'
        'sessions';
    grid-template-columns: 100%;
    grid-template-rows: 2% 2% 2% 92%;
}

.gap {
    grid-area: gap;
}
.sessions {
    grid-area: sessions;
    padding: 0 1rem;
}
