@import '../colors.scss';


// .weight {
//     display: grid;
//     grid-template-areas: 
//       "a b c"
//       "d diamond e"
//       "tsp f g"
//     ;
//     grid-template-columns: 1fr 1fr 1fr; 
//     grid-template-rows: 1fr 1fr 1fr;
//     position: relative;
// }

.weight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.input--weight {
    width: 100%;
    height: 75%;
    margin-top: -15%;
    position: absolute;
}

$size: 6rem;

.diamond {
    grid-area: diamond;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;
    border: 2px solid $line;
    transform-origin: center;
    transform: rotate(45deg);
    position: absolute;
    pointer-events: none;

    .value {
        font-size: 4.5rem;
        transform: rotate(-45deg);
    }

    .tsp,
    .g {
        position: absolute;
        pointer-events: all;
    }

    .tsp {
        transform: rotate(-45deg);
        top: ($size * 1.1);
    }

    .g {
        /* TODO */
        transform: translate(($size / 1.4285714286), ($size / 15)) rotate(-45deg);
    }

}
