@import '../colors.scss';

.name {
    &.start {
        .name__name {
            color: $text-passive;
            border-bottom: 1px solid $text-passive;
        }
    }
    .name__name {
        font-size: 2.5rem;
        border-bottom: 1px solid $text-active;
    }
}

.selected {
    .name__name {
       border-color: $action-active !important;
    }
}