@import '../colors.scss';

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 0 .25rem;
  
    button {
      -webkit-appearance: none;
      appearance: none;

      display: flex;
      justify-content: center;
      align-items: center;

  
      width: 5rem;
      height: 5rem;
  
      position: relative;
      top: -.5rem;
  
      border: none;
      border-radius: 100%;
  
      // background-color: $action-passive;
      // color: $action-active;
      background-color: $bg;
      // border: 1px solid $line;
      color: $text-active;
  
      font-family: 'Oranienbaum', serif;
      font-size: 1.6rem; //small
      span {
        display: inline-block;
        margin-top: 2rem;
        pointer-events: none;
      }
    }
  }