@import './reset.css';
@import './colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Prompt:wght@300&display=swap');



html,
body {
  width: 100vw;
  height: 100vh;

  font-family: 'Oranienbaum', serif;
  font-size: 16px;
  color: $text-active;
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
    'controls controls'
    'name name'
    'color color'
    'gap1 gap1'
    'weight water'
    'gap2 gap2'
    'timer brew'
  ;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 4vh 12vh 25vh 2vh 20vh 1vh 20vh;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 600px;
    margin: 0 auto;
  }
}

// main > section {
//   outline: 1px solid red;
// }


.name {
  grid-area: name;
  .name__name {
    font-size: 2.5rem;
  }
}
.controls {
  grid-area: controls;
}
.name {
  grid-area: name;
}
.color {
  grid-area: color;
}
.weight {
  grid-area: weight;
}
.water {
  grid-area: water;
}
.timer {
  grid-area: timer;
}
.brew {
  grid-area: brew;
}

.f-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}


.amount-label {
  font-size: 1.8rem;
  color: $text-passive;
  &.active {
      color: $text-active;
  }
}