@import "./reset.css";
@import "./theme.scss";

@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&family=Prompt:wght@300&display=swap");


@-webkit-keyframes glow {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-moz-keyframes glow {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@keyframes glow { 
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}



html {
  width: 100%;
  height: 100%;

  font-family: "Oranienbaum", serif;
  font-size: 16px;
  @media screen and (min-width: 425px) {
    // background-color: $bg-outer;
  }
  overflow: hidden;
}
body {
  // background-color: $bg;
  color: $text-active;
  @media screen and (min-width: 425px) {
    height: 100vh;
    width: 425px;
    margin: 0 auto;
  }
}
main {
  background-color: $bg;
  position: relative;
  @media screen and (min-width: 425px) {
    border: 1px solid  $bg-border;
  }
}

.main {
  display: grid;
  grid-template-areas: 
    "notch notch"
    "controls controls"
    "name name"
    "color weight"
    "gap1 gap1"
    "temp water"
    "gap2 gap2"
    "timer brew"
    "gap3 gap3";
 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2% 2% 14% 22% 0 22% 2% 22% 5%;
  overflow: hidden;
  @media screen and (min-width: 425px) {
    grid-template-rows: 4vh 2vh 17vh 20vh 2vh 26vh 0 28vh 2vh;
  }

  &.pwa {
    grid-template-rows: 4vh 2vh 17vh 18vh 1vh 26vh 0 28vh 2vh;
  }
}

input,
button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  font-family: inherit;;
  color: inherit;
}

input:focus,
button:focus {
  outline: none;
}

input {
  opacity: 0;
  position: absolute;
}


// main > section {
//   outline: 1px solid red;
// }


.name {
  grid-area: name;

}
.controls {
  grid-area: controls;
}
.name {
  grid-area: name;
}
.temperature {
  grid-area: temp;
}
.color {
  grid-area: color;
}
.weight,
.water,
.timer,
.temperature,
.color,
.brew {
  transform-origin: center;
  transform: scale(.75);
  min-width: 100%;
  min-height: 100%;
  align-self: center;
  .pwa & {
    transform: scale(.85);
  }
}
.weight {
  grid-area: weight;
}
.water {
  grid-area: water;
}
.timer {
  grid-area: timer;
}
.brew {
  grid-area: brew;
}

.f-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}


.amount-label {
  font-size: 1.8rem;
  color: $text-passive;
  &.active {
      color: $text-active;
  }
}

// .selected {
//   &.water,
//   &.weight {
//     z-index: 2;
//     position: fixed;
//     bottom: 25vh;
//   }
// }

.sip {
  position: fixed;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  color: $whisper-accent;
}





.react-p5 {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  canvas,
  .p5canvas {
    border: solid 1px lightgrey;
    margin: 0 auto;
    margin-top: 100px
  }
}


.subject {
  text-align: center;
  margin-top: 10px;
}

.draw {
  .timer {
      transform: scale(0.5);
  }
}


p.pwa {
  position: absolute;
  top: 95vh;
  left: 89vw;
  color: rgb(233, 233, 233);
}