$bg: #E3D8D7;
$bg-outer: #fcfffd;
$bg-border: #f7f7f7;
$text-active: #E33724;
$text-passive: #E33724;

$dim: white;
$whisper: white;
$whisper-accent: rgb(228, 255, 228);

$action-active: rgb(130, 0, 0);
$action-active-full: rgba(255, 119, 37, .75);
$action-passive: rgba(255, 119, 37, 0.08);

$line: #E33724;