$bg: #643BD9;
$bg-outer: #FFB840;
$bg-border: #FF5E44;
$text-active: #fffdf6;
$text-passive: #e8e8e8;

$dim: grey;
$whisper: #f7f7f7;
$whisper-accent: rgb(228, 255, 228);

$action-active: #FF5E44;
$action-active-full: #FF5E44;
$action-passive: rgba(255, 119, 37, 0.08);

$line: #FFB840;