$bg: #675B4D;
$bg-outer: black;
$bg-border: rgb(40,40,40);
$text-active: #d8d8d8;
$text-passive: rgb(211, 211, 211);

$action-active: rgba(255, 119, 37, 0.52);
$action-active-full: rgba(255, 119, 37, .75);
$action-passive: rgba(255, 119, 37, 0.08);

$line: rgb(24, 24, 24);